* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

/* 레이아웃 */
header {
	background-color: rgb(251, 208, 216);
}

main {
	background-color: rgb(255, 239, 196);
}

main > section {
	background-color: rgb(190, 233, 250);
	margin-bottom: 72px;
}

main > section > .inner {
	width: 1200px;
	margin: 0 auto;
}

/* 섹션 */
header .inner {
	display: flex;
	justify-content: space-between;
}

/* section1 - slider */
#slider {
	text-align: center;
}

/* section2 - info-service */
#info-service .inner > ul {
	width: 100%;
	display: flex;
}

/* section3 - find-property */
#find-property .inner > ul {
	width: 100%;
	display: flex;
}

/* section4 - keep-deposit */
.protect-list > ol {
	display: flex;
	flex: wrap;
}

.protect-list > ol > li {
	width: 33%;
}

/* section5 service-price */
#service-price .inner > ul {
	width: 100%;
	display: flex;
}

/* section6 - review */
#review > ul {
	width: 100%;
	display: flex;
}

/* section7 - start-service */
#start-service {
	text-align: center;
}

footer {
	background-color: rgb(234, 255, 191);
}
